@using DataLayer
@model TaxLienTracker4.Models.PurchaseViewModel

<form method="POST">
    
    <!---- Property Info ---->
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Owner First Name</label>
                <input type="text" class="form-control" placeholder="Owner First Name" name="Property.OwnerFirstName">
            </div>
            <div class="form-group">
                <label>Owner Last Name</label>
                <input type="text" class="form-control" placeholder="Owner Last Name" name="Property.OwnerLastName">
            </div>
            <div class="form-group">
                <label>County</label>
                <select name="county" class="form-control" id="countyDropDown">
                    @foreach (County county in Model.Counties)
                    {
                        <option value="@county.Id">@county.CountyName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Municipality</label>
                <select name="property.MunicipalityId" class="form-control" id="municipalityDropDown">
                </select>
            </div>
            <div class="form-group ">
                <label>Block</label>
                <input type="text" class="form-control" placeholder="Block" id="Block" name="Property.Block"/>
            </div>
            <div class="form-group ">
                <label>Lot</label>
                <input type="text" class="form-control" placeholder="Lot" id="Lot" name="Property.Lot"/>
            </div>
            <div class="form-group">
                <label>Qualifier</label>
                <input type="text" class="form-control" placeholder="Qualifier" id="Qualifier" name="Property.Qualifier"/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>House Number</label>
                <input type="text" class="form-control" placeholder="House Number" id="HouseNumber" name="Property.HouseNum">
            </div>
            <div class="form-group">
                <label>Street Name</label>
                <input type="text" class="form-control" placeholder="Street Name" id="StreetName" name="Property.StreetName">
            </div>
            <div class="form-group">
                <label>Property Type</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="Property.PropertyTypeId" id="optionsRadios1" value="1" checked>Residential
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="Property.PropertyTypeId" id="optionsRadios2" value="2">Commercial
                    </label>
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Submit"/>
        </div>
    </div>
    
   
   
            
        
</form>

@section scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="~/Scripts/TaxLienScripts.js" type="text/javascript"></script>
}
